<!DOCTYPE html>
<html>
  <head>
      <title>Tate Node Visualiser</title>

      <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/tateExpressViz.js"></script>

      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel='stylesheet' href="css/tateExpressStyles.css">

  </head>
  <body>
    <h1>Link Modifier</h1>

    <div id="links" class="title">
        <h2>Links</h2>
        <h3><%= node %></h3>

        <div class="container-fluid">
            <% for(var i=0; i<linkData.length; ++i) { %>
            <div class="row">
                <div class="col-md-3">
                    <ul>
                        <li><%= linkData[i].linkType %> <%= linkData[i].linkTo %></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" id='<%=i + "yesLink"%>' type="button">Agree</button><button class="btn btn-primary" id='<%=i + "noLink"%>' type="button">Disagree</button>
                </div>
                <div class="col-md-6">
                    &nbsp
                </div>
            </div>
            <% } %>
        </div>

    </div>

  </body>
</html>
