<!DOCTYPE html>
<html>
<head>
    <title>Tate Node Visualiser</title>

    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript" src="js/loginManager.js"></script>
    <script type="text/javascript" src="js/MapManager.js"></script>
    <script type="text/javascript" src="js/updateNode.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel='stylesheet' href="css/tateExpressStyles.css">

</head>
<body>
    <div class="indent">
        <h1>Tate Node Visualiser</h1>
    </div>

    <div id="instructions" class="infoPanel">
        <a href="tateInstructionsUpdate.html" target="_blank"><img src="images/info.png"></a>
    </div>

    <div id="updateNode" class="indent">
        <h2>Update Node</h2>
        <h3>Map Name - <span id="mapName"><%= mapName %></span></h3>
        <form id="getLinksForm" class="form-horizontal" action="/processSearchGraph" method = "post" autocomplete="off">
            <div class="form-group">
                <div class="col-md-5">
                    <input type="text" class="form-control noDisplay" name="mapID" id="mapID" value="<%= mapID %>">
                </div>
            </div>
            <div class="form-group">
                <label for="node_Name" class="col-md-1 control-label">Node Name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="nodeValue" id="node_Name" value="<%= node_Name %>">
                </div>
            </div>
            <p>
                Enter a node name in the box above, click the Get Links button and you'll see all the links that come from this node.<br>
                You can then update the link information.
            </p>
            <p>
                You can update aas many nodes as you like by typing a different name in the Node Name box and hitting the
                Get Links button again.
            </p>
            <button id="search" type="submit" class="btn btn-primary">Get Links</button>
        </form>
    </div>

    <div id="links" class="indent">
        <h3>Links</h3>
        <div class="container-fluid options">
        <% for(var j=0; j<nodes.length; ++j) { %>
        <h4><%= nodes[j] %></h4>

            <% var links = linkData.length === 0 ? [] : linkData[j]; %>
            <% for(var i=0; i<links.length; ++i) { %>
            <div class="row listings">
                <div class="col-md-3">
                    <ul>
                        <li><%= links[i].linkType %> <%= links[i].linkTo %></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" id='<%="yesLink" + i %>' type="button">Agree</button><button class="btn btn-primary" id='<%="noLink" + i %>' type="button">Disagree</button>
                </div>
                <div class="col-md-2">
                    <span id='<%="updated" + i %>' class="label label-success noDisplay">Updated</span>
                </div>
                <div class="col-md-5">
                    &nbsp
                </div>
            </div>
            <% } %>
        <% } %>
        </div>
    </div>

    <div class="indent options">
        <button id="backToModify" type="button" class="btn btn-primary">Modify Map</button>

        <div>
            <button id="backToViews" type="button" class="btn btn-primary">Back To Views</button>
        </div>

    </div>

</body>
</html>
